<app-header title="MI CENTRO"></app-header>
<ion-content fullscreen="true">
    <div>
        <ion-card class="card">
            <img [src]="centro?.image"/>
          <ion-card-header>
            <ion-card-subtitle>{{centro?.centre}}</ion-card-subtitle>
            <ion-card-title>Mi Centro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let center of [centro?.centre_address,centro?.centre_phone, centro?.centre_email, centro?.timetable, centro?.supervisor];let i= index" text-wrap>
                <ion-label class="lbl"><strong>{{centerLabels[i]}}</strong>
                  <p class="ion-text-wrap">{{center}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-button class="center" (click)="contactTo(centro.centre_email)" fill="clear">
            <ion-icon slot="icon-only" name="mail">
            </ion-icon>
          </ion-button>
        </ion-card>
      </div>

</ion-content>
