ion-header{
    text-align: center;
    display: block;
  }
  
  ion-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color:var(--ion-color-light-tint);
  }
  
  ion-datetime{
    display: none;
    text-align: right !important;
    color:var(--ion-color-light-tint);
  }
  
  ion-row{
    text-align: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5em;
  }
  
  ion-button{
    --background: var(--ion-color-icot);
    font-weight: 700;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:var(--ion-color-light-tint);
  }
  
  ion-radio{
    margin-right: 1em;
    margin-left: 0.5em;
    --color: var(--ion-color-light-tint);
    --color-checked:var(--ion-color-light-tint);
  }
  
  .backButton{
    --background: none;
    ion-icon{
      color: var(--ion-color-icot);
    }
  }
  
  .selectorType{
    margin-top: 1em;
  }
  
  .typeSearchCol{
    padding: 0;
    height: 100%;
    display: flex;
    vertical-align: middle;
    text-align: center !important;
  }
  
  .containerRadio{
    width: 100% !important;
  }
  
  .labelRadio{
    width: 100%;
  }
  
  #searchLeague{
    color: var(--ion-color-light-tint);
    float: right !important;
    text-align: right !important;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: end;
    width: 90%;
  }
  
  .closeLeague{
    float: left !important;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }
  
  .headerRow{
    background-color: var(--ion-color-dark-tint);
    color:var(--ion-color-light-tint);
    padding:0;
    text-align: center;
    font-weight: 900;
    font-size: small;
    border: 2px solid black;
  }
  
  .headerCol{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .row-data{
    padding: 0 !important;
  }
  
  .dataCol{
    // border-left: 2px solid black;
    // border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ion-note{
      color: var(--ion-color-myblack);
    }
  }
  
  .dataCentreCol{
    @extend .dataCol;
    padding: 0.5em;
    min-height: 50px;
  }
  
  .dataWinnerCol{
    @extend .dataCentreCol;
    background: url('../../../assets/imgs/Copa.png') no-repeat;
    background-position: center center;
    background-size: 3em;
    background-origin: content-box;
    background-clip: padding-box;
    opacity: 0.6;  
  }
  
  .empty-data-info{
    color: var(--ion-color-myblack);
  }
  
  .iconSearch{
    color: var(--ion-color-icot);
  }
  
  .upDownScroll {
    color: var(--ion-color-icot);
  }
  
  .labelDetailSearch{
    color:var(--ion-color-light-tint);
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    font-size: x-small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .labelCentreSearch{
    color:var(--ion-color-light-tint);
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1em;
  }
  
  .detailLabel{
    color: var(--ion-color-myblack);
    font-weight: bold;
    font-size: x-small;
  }
  
  .btnBack{
    --background-hover: var(--ion-color-icot);
    --background-focused: var(--ion-color-icot);
    --background-activated: var(--ion-color-icot);
  }
  
  .logo {
    width: 40px;
    height: 30px;  margin-left: 5px;
    margin-right: 5px;
  }
  
  ion-note{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    color:var(--ion-color-light-tint);
    font-size: small;
  }
  
  ion-toolbar{
    --background: var(--ion-color-icot);
    --color:var(--ion-color-light-tint);
  }
  
  .caret{
    color:var(--ion-color-light-tint);
  }
  
  .subHeader{
    background-color: var(--ion-color-icot);
  }
  