ion-note {
  text-align: left;
  color: var(--ion-color-myblack);
  font-weight: bold;
  font-family: monospace;
  font-size: small;

}

ion-toolbar {
  --background: var(--ion-color-icot);
  --color: white;
}

ion-datetime {
  text-align: right !important;
  font-weight: 900;
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // padding-top: 0%;
  display: inline;
  float: right;
  color: #000;
  text-transform: uppercase;
}

ion-icon {
  font-size: 30px;
  color: var(white)
}

ion-segment {
  background: var(--ion-color-icot);
}

ion-segment-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  --color: grey;
  --color-checked: var(--ion-color-icot);
}


.mylabel {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: block;
  color:var(--ion-color-light-tint);
  font-size: small;
}

.logo {
  width: 40px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.pending {
  color: var(--ion-color-icot);
}

.my-icon {
  color: var(--ion-color-myblack);
  width: 20px;
  height: 20px;
}

.header {
  background: var(--ion-color-icot);
  color:var(--ion-color-light-tint);
  font-weight: bold;
  text-align: left;
  font-size: small;
  padding: 2px;
  border: 1px solid black;
}

.nameService {
  text-align: left;
  padding: 2px;
}

.incentivosContent:last-child {
  border-bottom: 1px solid black;
}

.containerQuantity {
  position: relative;
  display: inline-block;
  text-align: center;
}

.quantityStl {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emptyView {
  height: 200px;
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding: 1em;
}

.upDownScroll {
  color: var(--ion-color-icot);
}