ion-icon {
    color: var(--ion-color-icot);
}

ion-item {
    font-size: small;
}

p {
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
