<app-header title="{{data.title}}"></app-header>
<ion-content>
    <div>
        <ion-note class="question">{{data.pregunta}}</ion-note>
        <hr>
        <div class="containerAnswer">
            <ion-note class="answer">{{data.respuesta}}</ion-note>
        </div>
    </div>
    <div>
        <ion-item *ngFor="let img of data.images; let i=index;" lines="none" color="none">
            <ion-thumbnail slot="start">
                <img alt="" [src]="img" (click)="seeImg()" />
            </ion-thumbnail>
            <ion-label>
                <p>Hola</p>
                <p>Mundo</p>
            </ion-label>
            <ion-icon slot="icon-only" name="eye-sharp" (click)="seeImg()"></ion-icon>
        </ion-item>
    </div>
</ion-content>