<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-note class="title">{{data.title}}</ion-note>
        <ion-buttons slot="start">
            <img class="logo" [src]="logo"/>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-note class="question">{{data.pregunta}}</ion-note>
        <hr>
        <div class="containerAnswer">
            <ion-note class="answer">{{data.respuesta}}</ion-note>
        </div>
    </div>
    <br>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col size="4" *ngFor="let photo of data.images; let i=index;">
                <ion-note class="info">{{i+1}} </ion-note>
                <div class="containerImgs">
                    <img [ngClass]="['animated', 'fadeIn', 'fast', 'imgs']" [src]="photo" (click)="seeImg(i)"/>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-toolbar>
    <ion-button class="goBack" expand="block" (click)="back()">
        <ion-icon name="return-up-back" slot="start" class="home"></ion-icon>
        <ion-note class="lblBtn">ATRÁS</ion-note>
    </ion-button>
</ion-toolbar>
