<app-header title="REGISTRO DE VENTA"></app-header>

<ion-content #content>
    <ion-item lines="none" color="none">
        <ion-icon name="refresh-outline" slot="start" class="icClear" *ngIf="venta.valid" (click)="clearForm()"></ion-icon>
        <ion-note class="configuradorLbl">
            CONFIGURADOR DE SERVICIO
        </ion-note>
    </ion-item>

    <form [formGroup]="venta">
            <div class="containerTypeServ">
                <ion-row>
                <ion-col size="4">
                    <ion-label for="quantity">CANTIDAD*</ion-label>
                    <ion-input formControlName="quantity" type="number" name="quantity" id="quantity" min="1" class="inputForm"></ion-input>
                </ion-col>
                <ion-col size="8">
                <ion-label for="date">FECHA</ion-label>
                    <div id="dateServ">
                        <ion-note id="noteDate" name="date">{{venta.controls.fechaVenta.value | uppercase}}</ion-note>
                    </div>
                </ion-col>
                </ion-row>
            </div>
        <div *ngIf="serviceSale == undefined;">
            <div class="containerTypeServ">
                <ion-label for="producer">CENTRO REALIZADOR*</ion-label>
                <ion-select formControlName="cRealizador" name="cRealizador" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione el centro realizador" (ionChange)="servicesOfCenter()">
                    <ion-select-option [value]="center" name="producer" *ngFor="let center of centers">{{center?.name}}</ion-select-option>
                </ion-select>
            </div>
            <div class="containerTypeServ">
                <ion-label>SERVICIO*</ion-label>
                <ion-select formControlName="service" name="service" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione un servicio" class="optionSale" [attr.disabled]="venta.controls.cRealizador.value == undefined" (ionChange)="getDiscountsServices()">
                    <ion-select-option [value]="service" *ngFor="let service of servicesAvailables">{{service?.name | uppercase}}</ion-select-option>
                </ion-select>
            </div>
        </div>
        <div *ngIf="serviceSale != undefined">
            <div class="containerTypeServ">
                <ion-label>SERVICIO*</ion-label>
                <ion-select #selectSV formControlName="service" name="service" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione un servicio" class="optionSale" (ionChange)="updateFields(1, $event)">
                    <ion-select-option [value]="service" *ngFor="let service of servicesAvailables">{{service?.name | uppercase}}</ion-select-option>
                </ion-select>
            </div>
            <div class="containerTypeServ">
                <ion-label for="producer">CENTRO REALIZADOR*</ion-label>
                <ion-select #selectCR formControlName="cRealizador" name="cRealizador" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione el centro realizador" [attr.disabled]="venta.controls.service.value == undefined" (ionChange)="updateFields(2, $event)">
                    <ion-select-option [value]="center" name="producer" *ngFor="let center of centers">{{center?.name}}</ion-select-option>
                </ion-select>
            </div>
        </div>
        <div class="containerTypeServ">
            <ion-label for="descriptor">CENTRO PRESCRIPTOR*</ion-label>
            <ion-select #selectCD formControlName="cEmployee" name="cEmployee" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione el centro prescriptor" [attr.disabled]="venta.controls.service.value == undefined" (ionChange)="checkService($event)">
                <ion-select-option [value]="center" name="descriptor" *ngFor="let center of employeeCenters">{{center.name !== undefined ? center.name : center.centre}}</ion-select-option>
            </ion-select>
        </div>
        <br>
        <div class="containerTypeServ">
            <div *ngIf="venta.controls.idType.value == undefined; else idPaciente">
                <ion-label>IDENTIFICACIÓN DE PACIENTE*</ion-label>
                <ion-radio-group formControlName="idType" mode="md">
                    <ion-row>
                        <ion-col size="4" *ngFor="let id of identificationOptions">
                            <ion-note class="optRadio">{{id.title}}</ion-note>
                            <ion-row>
                                <ion-col>
                                    <ion-radio [value]="id.value"></ion-radio>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-radio-group>
            </div>
            <ng-template #idPaciente>
                <ion-label class="changingValues" (click)="changeIdentification()">CAMBIAR</ion-label>
                <ion-label for="pacienteId">{{textTransform.transform(venta.controls.idType.value)}}*</ion-label>
                <ion-input formControlName="patientId" [minlength]="venta.controls.idType.value !== 'hc' ? 9 : 6" name="pacienteId" id="typePatient" [type]="venta.controls.idType.value !== 'dni' ? 'number' : 'text'" (ionBlur)="completeFields()"></ion-input>
            </ng-template>
        </div>
        <div class="containerTypeServ">
            <ion-label for="patientName">NOMBRE DEL PACIENTE*</ion-label>
            <ion-input formControlName="patientName" type="text" name="patientName" placeholder="Nombre del paciente" class="inputForm" [attr.disabled]="venta.controls.patientId.value == undefined"></ion-input>
        </div>
        <div class="containerTypeServ" *ngIf="active">
            <ion-label for="observaciones">OBSERVACIONES</ion-label>
            <ion-textarea formControlName="observaciones" name="observaciones" autoGrow="true" autocapitalize="sentences" cols="3" rows="3" inputmode="text" placeholder="Indicar observaciones aquí" maxlength="120"></ion-textarea>
        </div>
        <hr>
        <br>
          <div class="containerDiscount">
            <ion-label for="descriptor">DESCUENTO</ion-label>
            <ion-select formControlName="discount" name="discount" interface="action-sheet" cancelText="CANCELAR" placeholder="Seleccione el descuento a aplicar" [attr.disabled]="venta.controls.patientName.value == undefined">
              <ion-select-option [value]="discount" name="descriptor" *ngFor="let discount of discountAvailables">{{discount.name}}</ion-select-option>
            </ion-select>
        </div>
        <br>
    </form>

    <ion-grid>
        <ion-button [disabled]="!venta.valid" expand="block" type="submit" name="submit" id="submit" (click)="sendSale()">
            <ion-icon name="thumbs-up" slot="start" class="home"></ion-icon><ion-note class="lblBtn">CONFIRMAR DATOS</ion-note>
        </ion-button>
</ion-grid>
</ion-content>

