@media (min-width: 320px) and (max-width: 767px) {
  ion-select{
    font-size: small;
  }
  ion-note{
    font-size: small;
  }
  .quantityStl {
    font-size: x-small;
  }
}
@media (min-width: 768px) and (max-width: 1280px){
  ion-select{
    font-size: medium;
  }
  ion-note{
    font-size: medium;
  }
  .quantityStl {
    font-size: small;
  }
}
@media (min-width: 1281px) {
  ion-select{
    font-size: large;
  }
  ion-note{
    font-size: large;
  }
  .quantityStl {
    font-size: medium;
  }
}

ion-segment {
    background: var(--ion-color-icot);
}

ion-segment-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    --color: grey;
    --color-checked: var(--ion-color-icot);
}

ion-card {
    margin: 16px;
    padding-top: 10px;
}

ion-card-content.ios.card-content-ios.hydrated {
    padding: 0%;
}

ion-note {
    color: var(--ion-color-myblack);
    font-weight: bold;
    font-family: monospace;
}

ion-select {
  font-family: monospace;
  width: 100%;
  color: white;
  font-weight: bold;
}

ion-datetime {
    --placeholder-color: black;
    font-family: monospace;
    font-weight: bold;
    text-align: left;
}

ion-button {
    --background: var(--ion-color-icot);
    --background-hover: var(--ion-color-icot);
    --background-activated: var(--ion-color-icot);
    --color-hover: white;
    --color: white;
    margin: 16px;
    font-weight: bold;
    font-size: small;
}

ion-icon {
    color: var(--ion-color-icot);
}

.header {
    background: var(--ion-color-icot);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding: 2px;
    border: 1px solid black;
}

.title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dateService {
    border-left: 1px solid white;
    text-align: center;
}

.nameService {
    text-align: center;
    padding: 10px;
}

.incentivosContent:last-child {
    border-bottom: 1px solid black;
}

.fechaService {
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
}

.table {
    width: 100% !important;
    padding: 0%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.contentService {
    border: 1px solid black;
}

.emptyView {
    height: 200px;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 1em;
}

.containerQuantity{
    position: relative;
    display: inline-block;
    text-align: center;
}

.quantityStl {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selector{
  background: var(--ion-color-icot);
  text-align: center;
}

.icCorte{
  color: white;
  margin: 0.5em;
}

/** INCENTIVOS EN DETALLES **/

.headerTabDetails {
    background: var(--ion-color-icot);
}

.headerDataLabel {
    display: block;
    text-align: center;
    color: white;
    height: 100% !important;
    margin-top: auto;
    margin-bottom: auto;
    font-size: small;
}

.colIncentivesDetails {
    border: 1px solid black;
}

.detailsTable {
    border: 1px solid black;
    text-align: center;
}

.dataTable {
    margin-top: 0 auto !important;
    margin-bottom: 0 auto !important;
}

.repeatSvc{
  background: var(--ion-color-icot);
}

.movededo {
    transform: translateX(-300px);
    animation-name: moving;
    animation-duration: 3s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.home {
    color: white;
}

@keyframes moving {
    0% {
        left: 300px;
    }
    99% {
        left: 50%;
        transform: rotateZ(25deg);
        transform: translateY(-150%);
    }
    100% {
        display: none;
    }
}
