.container {
    width: 100%;
    height: 100%;
    background: transparent !important;
}

.custom-class{
    max-height: 70vh; /* Set the maximum height as needed */
    margin: auto;
    --background-color: var(--ion-color-mygradient);
}

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
}

ion-content{
    --background: none;
    --background: transparent !important;
}

body {
  background: transparent !important;
}