div{
  margin: 16px;
}

ion-icon{
  color: var(--ion-color-icot);
}

ion-note{
  font-size: small;
  font-weight: bold;
  color: var(--ion-color-icot);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

ion-row{
  margin-top: 10px;
  text-align: center;
}

ion-button{
  --background: var(--ion-color-icot);
  --background-activated: var(--ion-color-icot);
  --background-hover: var(--ion-color-icot);
  margin-bottom: 5px;
}

.optMedia{
  font-size: small;
  color: black;
  font-weight: bold;
}

.serviceDetails{
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
