.container {
    width: 100%;
    height: 100%;
}

.custom-class {
    max-height: 70vh;
    /* Set the maximum height as needed */
    margin: auto;
    --background-color: var(--ion-color-mygradient);
}

ion-note {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    color: var(--ion-color-light-tint);
    font-size: small;
}

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
}

ion-content {
    --background: none;
    max-height: 70vh;
    margin: auto;
}

ion-icon {
    color: var(--ion-color-icot);
}