<app-header title="SERVICIOS"></app-header>


<ion-content class="bg-transparent">
  <ion-tabs (ionTabsDidChange)="tabChanged($event)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button id="services" tab="services" selected>
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label>POR SERVICIO</ion-label>
      </ion-tab-button>
      <ion-tab-button id="centres" tab="centres">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>POR CENTRO</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>