ion-note{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    font-size: small;
  }
  
  ion-toolbar{
    --background: var(--ion-color-icot);
    --color: white;
  }
  
  .logo {
    width: 40px;
    height: 30px;  margin-left: 5px;
    margin-right: 5px;
  }
  
  ion-icon {
    font-size: 28px;
    color: var(white)
  }
