<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <img class="logo" src="assets/imgs/whitelogo.png" translucent />
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-note class="title">INICIO</ion-note>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <swiper id="swiper1" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)">
        <ng-template swiperSlide *ngFor="let section of sections | async;let i= index;">
            <ion-card class="mycard">
                <img class="full-image" [src]="section.img">
                <ion-card-header>
                    <ion-card-subtitle></ion-card-subtitle>
                    <ion-card-title>{{section.title}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{section.description}}</p>
                </ion-card-content>
                ​ <ion-footer>
                    <ion-button fill="clear" (click)="goAction(i)"> Ir a {{section.subtitle}}
                        <ion-icon slot="end" class="icSection" [name]="section.icon"></ion-icon>
                    </ion-button>
                </ion-footer>
            </ion-card>
        </ng-template>
    </swiper>
</ion-content>

<ion-footer class="myfooter">
    <swiper id="swiper2" #swiperComponent [config]="promotionsConfig" (slideChange)="promotionSlideChanged($event)">
        <ng-template swiperSlide *ngFor="let notice of noticesPromotions;let i=index">
            <ion-row>
                <ion-col size="1" *ngIf="notice.icon !== undefined">
                    <ion-icon [name]="notice.icon" class="icPromo"></ion-icon>
                </ion-col>
                <ion-col [size]="notice.icon !== undefined ? 11 : 12">
                    <ion-note class="loadingLbl" (click)="goSlide(i)">{{ notice.title }}</ion-note>
                </ion-col>
            </ion-row>
        </ng-template>
    </swiper>
</ion-footer>