<app-header title='HOME'></app-header>
<ion-content>
    <ion-card class="infoEmployee" (click)="goAction(5)">
        <ion-card-header>
            <ion-note class="actualUserName">{{user.name.length < 32 ? user.name : user.name.substr(0,33)+'..'}}</ion-note>
            <ion-icon name="settings-outline" class="icMyData"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col class="containerGrid mt-5" size="3.5" size-xs="3.5" size-sm="3.5" size-md="3.5" size-lg="3.5">
                        <div>
                            <div *ngFor="let dataL of dataLabel">
                                <ion-note class="dataL">{{ dataL }}</ion-note>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col class="containerGrid ion-text-center" size="8.5" size-xs="8.5" size-sm="8.5" size-md="8.5" size-lg="8.5">
                        <div *ngFor="let data of [user.username, user.phone,user.category, user.email]">
                            <div class="containerData">
                                <ion-note class="dataULarge">{{(data !== undefined && data !== null && data !== '') ? ((data+'').length < 20 ? data.toLowerCase() : (data+'').substr(0,20)+'..')  : '-' }}</ion-note>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <hr>
    <ion-grid class="containerOptions">
        <ion-row *ngFor="let section of sections; let i=index;">
            <ion-col class="ion-text-center" (click)="goAction(i)">
                <ion-button type="button" expand="full" color="none">
                    <ion-icon class="icSection" [name]="section.icon"></ion-icon>
                    {{ section.title }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-toolbar>
    <ion-slides #slideNotice [options]="slideOpts">
        <ion-slide *ngFor="let notice of noticesPromotions">
            <ion-row>
                <ion-col size="1" *ngIf="notice.icon !== undefined">
                    <ion-icon [name]="notice.icon" class="icPromo"></ion-icon>
                </ion-col>
                <ion-col [size]="notice.icon !== undefined ? 11 : 12">
                    <ion-note class="loadingLbl" (click)="goSlide(notice.id)">{{ notice.title }}</ion-note>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-toolbar>
