@media (min-width: 320px) and (max-width: 767px) {
    .base {
        height: 90%;
        width: 100%;
    }
    .logo {
        padding: 3em;
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    ion-button {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .base {
        height: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .content {
        width: 800px;
    }
    .logo {
        padding: 5em;
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media (min-width: 1281px) {
    ion-button {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .base {
        height: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .content {
        width: 800px;
    }
    .logo {
        padding: 5em;
        margin-left: 5em;
        margin-right: 5em;
    }
}

ion-button {
    --background: var(--ion-color-icot) !important;
    --color-hover: white !important;
    --color-activated: var(--ion-color-icot) !important;
    --background-hover: var(--ion-color-icot) !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    max-height: 50px;
    font-weight: 900;
}

.md ion-button {
    --background: var(--ion-color-icot) !important;
    --color-hover: white !important;
    --color-activated: var(--ion-color-icot) !important;
    --background-hover: var(--ion-color-icot) !important;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    height: 80px;
    font-weight: 900;
}

ion-footer {
    background-color: var(--ion-color-mywhite);
}

ion-icon {
    color: var(--ion-color-icot);
}

ion-row {
    border: 3px solid var(--ion-color-icot);
    max-height: 45px;
}

ion-input {
    // border: 3px solid var(--ion-color-icot);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    caret-color: var(--ion-color-icot);
    padding-left: 1em;
    float: inline-start;
}

ion-item.item-has-focus>ion-label {
    color: var(--ion-color-icot) !important;
}

form {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.faq {
    max-height: 40px;
    max-width: 40px;
    margin-left: 6px;
}

.title {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: large;
    display: block;
    margin-top: 10%;
}

.containerForm {
    margin-bottom: 2em;
}

.containerInput{
    height: 45px;
    padding: 0;
}

.showUnshowP {
    height: 100%;
    padding-right: 0.5em;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.noBorder {
    border: none !important;
    padding: 0px !important;
}

.recovery {
    font-weight: bolder;
    font-family: monospace;
    text-align: center;
    font-size: small;
    display: block;
    font-weight: bold;
    color: var(--ion-mycolor-black);
}

.newAccess {
    font-weight: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-align: center;
    display: block;
    font-size: medium;
    color: var(--ion-color-icot);
    margin-top: 16px;
}

.field {
    font-family: monospace;
    font-weight: bold;
    font-size: small;
    margin-bottom: 1em;
}

.logo {
    padding-top: 1em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-bottom: 4em;
    animation-name: movingWait;
    animation-duration: 15s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    position: relative;
    overflow: hidden;
}

@keyframes movingWait {
    25% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(-5%);
    }
}
